$color-0: inherit;
$color-1: #FFC1C0;
$color-2: #FF8C85;
$color-3: #FF574B;
$color-4: #9C1A11;

.color-0 {
	background-color: $color-0;
}

.color-1 {
	background-color: $color-1;
}
.color-2 {
	background-color: $color-2;
}
.color-3 {
	background-color: $color-3;
}
.color-4 {
	background-color: $color-4;
}